@charset "UTF-8";
/*VARIABLES*/
/* color */
/* tamaño titulos */
/* interletra titulos */
/* texto base */
/* padding lateral de todo el proy */
/* tipografias */
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  color: #626262; }

h2 {
  font-family: "Fredoka One", cursive;
  color: #F63340;
  font-size: 3rem;
  letter-spacing: 3px; }

/* header */
header {
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 15px 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); }
  header .contenedorMenu {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500; }
    header .contenedorMenu .marca {
      display: none; }
    header .contenedorMenu .contenedorIconoMenu {
      display: none;
      width: 40px; }
      header .contenedorMenu .contenedorIconoMenu .iconoMenu {
        width: 100%; }
    header .contenedorMenu #check {
      display: none; }
    header .contenedorMenu #check:checked ~ .menu {
      transform: translateX(0);
      transition: all 400ms; }
    header .contenedorMenu .menu .desplegable {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row; }
      header .contenedorMenu .menu .desplegable li {
        list-style: none;
        padding: 0 15px; }
        header .contenedorMenu .menu .desplegable li .seccion {
          color: #F63340; }
        header .contenedorMenu .menu .desplegable li a {
          text-decoration: none;
          color: #626262; }
        header .contenedorMenu .menu .desplegable li a:hover {
          color: #F63340; }

/* index */
#portada {
  background-image: url(../multimedia/fondoPortada.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 650px; }
  #portada .contenidoPortada {
    display: inline-block;
    width: 420px;
    height: 330px;
    color: #ffffff;
    margin-right: 40px;
    padding: 20px 20px;
    transition-property: all;
    animation: fadeInLeftBig;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    transition-timing-function: cubic-bezier(0, 0, 0.27, 0.99); }
    #portada .contenidoPortada h1 {
      font-family: "Fredoka One", cursive;
      font-size: 4rem;
      letter-spacing: 4px;
      margin: 0;
      line-height: 65px; }
    #portada .contenidoPortada h3 {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 20px; }
    #portada .contenidoPortada .botonPortada {
      display: inline-block;
      background-color: #F63340;
      color: #ffffff;
      padding: 15px 40px;
      border-radius: 50px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 10px; }
    #portada .contenidoPortada .botonPortada:hover {
      background-color: #E3303C;
      box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
      transform: scale(1.1); }
    #portada .contenidoPortada a {
      text-decoration: none;
      transition: all 0.2s; }
  #portada .imgPortada {
    width: 650px;
    height: 550px;
    text-align: right;
    transition-property: all;
    animation: fadeInRightBig;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    transition-timing-function: cubic-bezier(0, 0, 0.27, 0.99); }
    #portada .imgPortada .imagen {
      width: 100%; }

/* PASOS */
#pasos {
  background-image: url(../multimedia/fondPasos.jpg);
  background-size: contain;
  padding: 50px 80px; }
  #pasos h2 {
    text-align: center;
    text-transform: uppercase; }
  #pasos h4 {
    color: #F63340;
    font-weight: 800;
    font-size: 1.3rem; }
  #pasos ol {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0; }
    #pasos ol li {
      display: inline; }
      #pasos ol li .center {
        height: 500px;
        width: 300px;
        padding: 20px 20px;
        text-align: center; }
        #pasos ol li .center p {
          line-height: 20px; }
        #pasos ol li .center .imgPasos {
          width: 100%; }

/* equipo */
#equipo {
  background-image: url(../multimedia/fondoEquipo.jpg);
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 80px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px; }
  #equipo h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 3rem; }
  #equipo h3 {
    margin: 0;
    text-transform: uppercase;
    padding-top: 10px; }
  #equipo h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 5px; }
  #equipo p {
    line-height: 20px; }
  #equipo .persona {
    display: inline-block;
    width: 200px;
    height: 360px;
    text-align: center;
    padding: 20px 40px; }
    #equipo .persona .contenedorImgEquipo {
      width: 200px;
      height: 200px;
      transition: all 0.5s; }
      #equipo .persona .contenedorImgEquipo .equipo {
        width: 100%; }
    #equipo .persona .contenedorImgEquipo:hover {
      transform: scale(1.2); }

/* me sumo */
#meSumo {
  background-image: url(../multimedia/fondoMeSumo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 600px; }
  #meSumo .contenidoMeSumo {
    display: inline-block;
    width: 430px;
    height: 280px;
    margin-right: 80px;
    align-self: center; }
    #meSumo .contenidoMeSumo h2 {
      font-family: "Fredoka One", cursive;
      font-size: 3rem;
      letter-spacing: 3px;
      margin: 0;
      line-height: 55px; }
    #meSumo .contenidoMeSumo p {
      color: #626262;
      line-height: 20px;
      margin: 0;
      padding-top: 10px;
      font-size: 1rem; }
    #meSumo .contenidoMeSumo .botonMeSumo {
      display: inline-block;
      background-color: #F63340;
      color: #ffffff;
      padding: 15px 40px;
      border-radius: 50px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 10px; }
    #meSumo .contenidoMeSumo .botonMeSumo:hover {
      background-color: #E3303C;
      box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
      transform: scale(1.1); }
    #meSumo .contenidoMeSumo a {
      text-decoration: none;
      transition: all 0.2s; }
  #meSumo .imgNene {
    width: 500px;
    height: 530px;
    text-align: right; }
    #meSumo .imgNene .imagen {
      width: 100%; }

/* FRASE */
#frase {
  background-image: url(../multimedia/FondoFrase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 80px;
  padding-right: 80px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center; }
  #frase div {
    text-align: center;
    padding: 0 300px;
    color: #ffffff; }
    #frase div h4 {
      margin: 0;
      font-size: 1.30rem;
      font-weight: 600;
      line-height: 30px; }
    #frase div h6 {
      font-size: 1rem;
      font-weight: 400; }

/* SERVICIOS */
#servicios {
  background-image: url(../multimedia/fondoServicios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  padding: 60px 80px;
  height: 620px; }
  #servicios .contenidoServicios {
    text-align: center;
    padding-bottom: 1rem;
    color: #ffffff; }
    #servicios .contenidoServicios h2 {
      margin: 0;
      color: #ffffff; }
  #servicios .combos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff; }
    #servicios .combos h4 {
      font-size: 1.5rem;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0; }
    #servicios .combos .pack {
      display: inline-block;
      text-align: center;
      width: 200px;
      height: 430px;
      padding: 0 80px; }
      #servicios .combos .pack .contenedorImgPack {
        display: inline-block;
        width: 200px;
        height: 200px; }
        #servicios .combos .pack .contenedorImgPack .imgPacks {
          width: 100%; }
      #servicios .combos .pack .contenidoCaja {
        margin: 0;
        padding-top: 1rem; }
      #servicios .combos .pack .sorpresa {
        font-family: "Fredoka One", cursive;
        color: #FFCA5F;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin: 0; }
      #servicios .combos .pack .botonVer {
        text-decoration: none;
        display: inline-block;
        background-color: #F63340;
        color: #ffffff;
        padding: 15px 40px;
        border-radius: 50px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 10px;
        transition: all 0.2s; }
      #servicios .combos .pack .botonVer:hover {
        background-color: #E3303C;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
        transform: scale(1.1); }

/*FAVORITO*/
#favorito {
  background-image: url(../multimedia/fondoFavorito.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: 0;
  padding: 80px 80px;
  height: 500px; }
  #favorito .imgFavorito {
    width: 400px;
    height: 400px;
    padding-left: 40px; }
    #favorito .imgFavorito .elFavorito {
      width: 100%; }
  #favorito .contenidoFavorito {
    display: inline-block;
    width: 400px;
    height: 300px;
    padding-right: 80px;
    align-self: center; }
    #favorito .contenidoFavorito p {
      line-height: 25px; }

/* BENEFICIOS */
#beneficios {
  background-image: url(../multimedia/fondoBeneficios.png);
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  margin-top: 60px;
  height: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center; }
  #beneficios .contenidoBeneficios {
    padding-left: 60px;
    width: 510px;
    height: 330px; }
    #beneficios .contenidoBeneficios ul {
      width: 450px;
      height: 250px;
      padding-left: 60px; }
    #beneficios .contenidoBeneficios h2 {
      color: #ffffff;
      margin-bottom: 20px;
      width: 400px;
      line-height: 55px; }
  #beneficios .media {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    justify-content: center; }
    #beneficios .media .align-self-start {
      align-self: flex-start;
      padding-right: 15px; }
    #beneficios .media .media-body {
      -ms-flex: 1;
      flex: 1; }
      #beneficios .media .media-body .mt-0 {
        margin: 0;
        line-height: 20px;
        font-size: 1rem; }
  #beneficios .imgCartero {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 700px;
    height: 650px;
    margin: 0;
    padding-left: 10px;
    padding-right: 60px; }
    #beneficios .imgCartero .cartero {
      width: 100%; }

/* APROVECHA */
#aprovecha {
  background-image: url(../multimedia/fondoAprovecha.jpg);
  background-size: cover;
  padding: 80px 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  #aprovecha h2 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 0;
    padding-top: 30px; }
  #aprovecha h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.20rem;
    padding-top: 20px;
    padding-bottom: 10px; }
  #aprovecha .contenidoAprovecha {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #aprovecha .contenidoAprovecha p {
      width: 600px;
      line-height: 20px;
      font-size: 1rem;
      text-align: center;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 20px; }
  #aprovecha .descuento {
    display: inline-block;
    width: 350px;
    height: 350px;
    text-align: center;
    padding: 20px 40px; }
    #aprovecha .descuento .contenedorImgAprovecha {
      width: 170px;
      height: 170px;
      display: inline-block;
      transition: all 0.5s; }
      #aprovecha .descuento .contenedorImgAprovecha .promo {
        width: 100%; }
    #aprovecha .descuento .contenedorImgAprovecha:hover {
      transform: scale(1.2); }
    #aprovecha .descuento p {
      line-height: 20px;
      font-size: 1rem; }

/* TESTIMONIOS */
#testimonios {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 60px;
  padding-bottom: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #testimonios .imgMadre {
    width: 550px; }
    #testimonios .imgMadre .madreEhija {
      width: 100%; }
  #testimonios .contenidoTestimonios {
    width: 600px;
    text-align: center; }
    #testimonios .contenidoTestimonios h2 {
      padding-bottom: 30px; }
    #testimonios .contenidoTestimonios h4 {
      margin: 0;
      padding-bottom: 3rem; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  margin: 0;
  width: 100%;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: -1; }

.imgTestimonio {
  width: 100%; }

.alinear {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 300px;
  margin: 0; }

.contenedorImgPersona {
  width: 150px;
  height: 150px; }

.carousel-caption {
  text-align: center;
  color: #626262;
  padding: 0; }

.carousel-caption h3 {
  font-weight: 500;
  font-size: 1.20rem; }

.carousel-caption p {
  margin: 0;
  font-size: 1rem;
  line-height: 20px; }

.carousel-control-prev-icon {
  background-image: url("https://systemuicons.com/images/icons/chevron_left.svg"); }

.carousel-control-next-icon {
  background-image: url("https://systemuicons.com/images/icons/chevron_right.svg"); }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 60px;
  height: 60px; }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.4;
  transition: opacity 0.15s ease;
  z-index: -1; }

/* RANKING */
#ranking {
  background-image: url(../multimedia/fondoEstrella.png);
  background-size: cover;
  padding: 60px 80px;
  margin-top: 40px; }
  #ranking .contenidoTop {
    margin: 0;
    text-align: center;
    padding: 0 250px; }
  #ranking ol {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    overflow: hidden; }
    #ranking ol li {
      display: inline; }
      #ranking ol li .libros {
        height: 720px;
        width: 370px;
        padding: 20px 0px;
        text-align: center; }
        #ranking ol li .libros h4 {
          color: #626262;
          text-transform: uppercase;
          padding-top: 20px;
          padding-bottom: 10px;
          margin: 0;
          font-weight: 600;
          font-size: 1.20rem; }
        #ranking ol li .libros .imgLibro {
          width: 70%; }
        #ranking ol li .libros p {
          margin: 0;
          font-size: 1rem;
          line-height: 25px; }

/* contacto */
#contacto {
  background-image: url(../multimedia/fondoContacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 80px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: 60px;
  margin-bottom: 0; }
  #contacto .contenidoContacto {
    text-align: center; }
    #contacto .contenidoContacto h2 {
      margin: 0;
      text-transform: uppercase; }
    #contacto .contenidoContacto p {
      padding: 0 300px;
      font-size: 1rem;
      line-height: 25px; }
      #contacto .contenidoContacto p span {
        font-weight: 500; }
        #contacto .contenidoContacto p span a {
          text-decoration: none;
          color: #626262; }
        #contacto .contenidoContacto p span a:hover {
          color: #F63340;
          font-weight: 700; }
      #contacto .contenidoContacto p .ubicacion {
        opacity: 70%; }
  #contacto .contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 70px; }
    #contacto .contenido .contenedorImgContacto {
      display: inline-block;
      width: 500px; }
      #contacto .contenido .contenedorImgContacto .imgContacto {
        width: 100%; }
    #contacto .contenido form {
      width: 450px;
      height: 350px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center; }
      #contacto .contenido form label {
        display: flex;
        flex-direction: column; }
      #contacto .contenido form input {
        border-radius: 2rem;
        border: 0px solid; }
      #contacto .contenido form textarea {
        border-radius: 1.5rem;
        border: 0px solid;
        font-family: 'Rubik', sans-serif; }
      #contacto .contenido form .contenedorLlenar {
        padding: 20px 20px;
        margin: 10px 0px;
        box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.1);
        color: #626262;
        font-size: 0.9rem; }
      #contacto .contenido form .botonEnviar {
        display: inline-block;
        background-color: #F63340;
        color: #ffffff;
        text-transform: uppercase;
        padding: 15px 40px;
        border-radius: 50px;
        font-weight: 700;
        margin-top: 30px;
        width: 100%;
        transition: all 0.2s; }
      #contacto .contenido form .botonEnviar:hover {
        background-color: #E3303C;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
        transform: scale(1.1); }

/* FOOTER */
footer {
  background-image: url(../multimedia/fondoFooter.png);
  background-size: cover;
  color: #ffffff;
  padding: 60px 80px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  footer h4 {
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600; }
  footer .descripcion {
    width: 320px;
    padding-top: 40px;
    margin-right: 20px;
    text-align: left; }
    footer .descripcion p {
      margin: 0;
      padding-top: 20px;
      line-height: 25px; }
  footer .contactanos {
    width: 400px;
    text-align: left;
    padding-top: 40px; }
    footer .contactanos h4 {
      padding-top: 10px; }
    footer .contactanos ul {
      padding-top: 20px;
      margin: 0;
      padding-left: 20px;
      line-height: 25px; }
  footer .seguinos {
    width: 200px;
    padding-top: 40px;
    text-align: left; }
    footer .seguinos .iconosRedes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px; }
      footer .seguinos .iconosRedes .redes {
        transition: all 0.1s;
        width: 40px;
        display: flex;
        flex-direction: row; }
      footer .seguinos .iconosRedes .redes:hover {
        transform: scale(1.1);
        border-radius: 10px;
        background-color: #F63340;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); }

/* FOOTER DOS */
.footer2 {
  background-image: url(../multimedia/FondoFooter2.jpg);
  background-size: cover;
  color: #ffffff;
  padding: 0 80px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .footer2 h4 {
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600; }
  .footer2 .descripcion {
    width: 320px;
    padding-top: 40px;
    margin-right: 20px;
    text-align: left; }
    .footer2 .descripcion p {
      margin: 0;
      padding-top: 20px;
      line-height: 25px; }
  .footer2 .contactanos {
    width: 400px;
    text-align: left;
    padding-top: 40px; }
    .footer2 .contactanos h4 {
      padding-top: 10px; }
    .footer2 .contactanos ul {
      padding-top: 20px;
      margin: 0;
      padding-left: 20px;
      line-height: 25px; }
  .footer2 .seguinos {
    width: 200px;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: left; }
    .footer2 .seguinos .iconosRedes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px; }
      .footer2 .seguinos .iconosRedes .redes {
        transition: all 0.1s;
        width: 40px;
        display: flex;
        flex-direction: row; }
      .footer2 .seguinos .iconosRedes .redes:hover {
        transform: scale(1.1);
        border-radius: 10px;
        background-color: #F63340;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); }

/*MEDIAS QUERIES*/
@media (max-width: 1024px) {
  /*NAV TABLET*/
  header .contenedorMenu .marca {
    display: none; }
  header .contenedorMenu .contenedorIconoMenu {
    display: flex;
    cursor: pointer;
    float: right;
    position: relative; }
  header .contenedorMenu .menu {
    transform: translateX(200%);
    transition: all 400ms;
    position: absolute;
    height: 50vm;
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    top: 66px;
    right: 0;
    box-shadow: 0px 300px 200px 300px rgba(98, 98, 98, 0.08); }
    header .contenedorMenu .menu .desplegable {
      flex-direction: column;
      margin-bottom: 30px;
      margin-right: 80px;
      margin-top: 15px; }
      header .contenedorMenu .menu .desplegable li {
        padding-top: 15px;
        text-align: right;
        padding-right: 0;
        font-size: 1.2rem; }
  /*INDEX TABLET*/
  #portada {
    background-image: url(../multimedia/fondoPortadaResp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 80px;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: space-around;
    height: 1150px; }
    #portada .contenidoPortada {
      width: 700px;
      height: 300px;
      text-align: center;
      margin: 0;
      padding: 0; }
      #portada .contenidoPortada h1 {
        letter-spacing: 5px;
        margin-top: 30px;
        margin-bottom: 15px; }
      #portada .contenidoPortada h3 {
        padding: 0 100px;
        margin: 0;
        line-height: 25px; }
      #portada .contenidoPortada .botonPortada {
        width: 400px;
        padding: 15px 40px;
        font-size: 1.2rem;
        margin-top: 50px; }
    #portada .imgPortada {
      width: 750px;
      height: 700px; }
      #portada .imgPortada .imagen {
        width: 100%; }
  /*PASOS TABLET*/
  #pasos {
    background-image: url(../multimedia/fondoPasosTablet.jpg);
    background-size: cover;
    padding: 20px 80px;
    padding-bottom: 50px;
    margin-bottom: 10px; }
    #pasos h2 {
      margin: 20px 0;
      letter-spacing: 4px; }
    #pasos h4 {
      margin-top: 10px;
      margin-bottom: 20px; }
    #pasos ol {
      padding-top: 30px; }
      #pasos ol li .center {
        height: 470px;
        width: 270px;
        padding: 0;
        text-align: center; }
        #pasos ol li .center p {
          padding: 0 40px;
          margin: 0;
          line-height: 25px;
          font-size: 1.2rem; }
        #pasos ol li .center .imgPasos {
          width: 90%; }
  /* FOOTER TABLET*/
  footer {
    padding: 60px 80px;
    justify-content: space-between; }
    footer .descripcion {
      width: 250px; }
      footer .descripcion p {
        line-height: 20px; }
      footer .descripcion img {
        width: 100%;
        margin-top: 5px; }
    footer .contactanos {
      width: 250px;
      margin-right: 20px; }
      footer .contactanos h4 {
        padding-top: 10px; }
      footer .contactanos ul {
        line-height: 20px; }
    footer .seguinos {
      width: 160px; }
      footer .seguinos .iconosRedes {
        padding-top: 30px; }
  /* EQUIPO TABLET*/
  #equipo {
    background-image: url(../multimedia/fondoEquipoResp.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 80px;
    padding-top: 60px;
    height: 900px;
    margin-bottom: 20px; }
    #equipo .contenedorEquipo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    #equipo .persona {
      width: 290px;
      height: 355px;
      padding: 20px 30px; }
      #equipo .persona .contenedorImgEquipo {
        display: inline-block;
        margin: 0;
        width: 220px;
        height: 220px; }
  /* me sumo tablet */
  #meSumo {
    background-image: url(../multimedia/fondoMeSumoResp.jpg); }
    #meSumo .contenidoMeSumo {
      width: 500px;
      height: 270px;
      margin-right: 20px; }
    #meSumo .imgNene {
      width: 470px;
      height: 470px; }
  /* FRASE TABLET */
  #frase {
    background-image: url(../multimedia/fondoFraseResp.jpg);
    height: 350px; }
    #frase div {
      padding: 0 150px;
      margin-bottom: 90px; }
      #frase div h6 {
        margin-top: 30px;
        margin-bottom: 0; }
  /* FOOTER DOS TABLET */
  .footer2 .descripcion {
    width: 250px; }
    .footer2 .descripcion p {
      line-height: 20px; }
    .footer2 .descripcion img {
      width: 100%;
      margin-top: 5px; }
  .footer2 .contactanos {
    width: 250px;
    margin-right: 20px; }
    .footer2 .contactanos h4 {
      padding-top: 10px; }
    .footer2 .contactanos ul {
      line-height: 20px; }
  .footer2 .seguinos {
    width: 160px; }
    .footer2 .seguinos .iconosRedes {
      padding-top: 30px; }
  /* SERVICIOS TABLET*/
  #servicios {
    background-image: url(../multimedia/fondoServiciosResp.jpg);
    height: 700px; }
    #servicios .contenidoServicios {
      padding: 30px 0; }
      #servicios .contenidoServicios p {
        line-height: 20px; }
    #servicios .combos {
      flex-wrap: nowrap; }
      #servicios .combos .pack {
        padding: 0 40px; }
      #servicios .combos .contenidoCaja {
        line-height: 20px; }
  /*FAVORITO TABLET*/
  #favorito {
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    padding-top: 60px;
    height: 450px; }
    #favorito .imgFavorito {
      width: 300px;
      height: 380px;
      padding-left: 0px;
      margin-right: 40px; }
    #favorito .contenidoFavorito {
      width: 390px;
      height: 220px;
      padding-right: 0px; }
      #favorito .contenidoFavorito h2 {
        margin: 0; }
      #favorito .contenidoFavorito p {
        line-height: 20px; }
  /* BENEFICIOS TABLET*/
  #beneficios {
    background-size: contain;
    padding-top: 0;
    margin-top: 73px;
    height: 475px; }
    #beneficios .contenidoBeneficios {
      padding-left: 0;
      width: 390px; }
    #beneficios .imgCartero {
      height: 400px;
      padding-left: 40px;
      padding-right: 0; }
  /* APROVECHA TABLET*/
  #aprovecha {
    padding: 35px 80px; }
    #aprovecha h2 {
      padding-top: 10px; }
    #aprovecha .contenedorDescuento {
      width: 900px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    #aprovecha .descuento {
      width: 250px;
      height: 330px;
      padding: 20px 0px; }
      #aprovecha .descuento p {
        margin: 0; }
  /* TESTIMONIOS TABLET*/
  #testimonios {
    margin-top: 70px; }
    #testimonios .imgMadre {
      width: 450px; }
    #testimonios .contenidoTestimonios {
      width: 400px; }
      #testimonios .contenidoTestimonios h2 {
        line-height: 50px;
        margin: 0; }
  .alinear {
    width: 400px;
    height: 250px; }
  .contenedorImgPersona {
    width: 120px;
    height: 120px; }
  /* RANKING TABLET*/
  #ranking {
    background-size: contain; }
    #ranking .contenidoTop {
      padding: 0 60px; }
      #ranking .contenidoTop p {
        line-height: 20px; }
    #ranking ol li .libros {
      height: 580px;
      width: 280px;
      padding: 20px 20px; }
      #ranking ol li .libros .imgLibro {
        width: 80%; }
      #ranking ol li .libros p {
        line-height: 20px; }
  /*CONTACTO TABLET*/
  #contacto {
    background-image: url(../multimedia/fondoContactoResp.jpg);
    padding: 60px 80px;
    margin-top: 70px; }
    #contacto .contenidoContacto p {
      padding: 0 100px; }
    #contacto .contenido {
      flex-direction: column;
      justify-content: space-between;
      padding: 0; }
      #contacto .contenido .contenedorImgContacto {
        margin-top: 30px; }
      #contacto .contenido form {
        width: 80%;
        height: 350px; }
        #contacto .contenido form label {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
        #contacto .contenido form input {
          width: 43%; }
        #contacto .contenido form .boton {
          display: flex;
          justify-content: flex-end; }
        #contacto .contenido form .botonEnviar {
          display: inline;
          width: 47%; } }

@media (max-width: 376px) {
  /*NAV MOBILE*/
  header .contenedorMenu {
    height: 40px;
    padding: 0 30px; }
    header .contenedorMenu .marcaOriginal {
      display: none; }
    header .contenedorMenu .marca {
      display: inline;
      background-image: url(../multimedia/favicon.png);
      background-repeat: no-repeat; }
    header .contenedorMenu .contenedorIconoMenu {
      display: flex;
      cursor: pointer;
      float: right;
      position: relative; }
    header .contenedorMenu .menu {
      transform: translateX(200%);
      transition: all 400ms;
      position: absolute;
      height: 100vh;
      width: 100%;
      background-color: #ffffff;
      padding: 0;
      top: 66px;
      right: 0;
      box-shadow: 0px 100px 100px 100px rgba(98, 98, 98, 0.08); }
      header .contenedorMenu .menu .desplegable {
        flex-direction: column;
        margin-bottom: 30px;
        margin-right: 0px;
        margin-top: 15px; }
        header .contenedorMenu .menu .desplegable li {
          padding-top: 40px;
          text-align: center;
          padding-right: 0;
          font-size: 1.2rem; }
  /*INDEX mobile*/
  #portada {
    background-image: linear-gradient(#25C8A7, #82E6DD, #ffffff);
    margin-top: 70px;
    padding: 20px 10px;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    height: 700px; }
    #portada .contenidoPortada {
      width: 100%;
      height: 200px;
      text-align: center;
      margin: 0;
      padding: 0; }
      #portada .contenidoPortada h1 {
        font-size: 3rem;
        letter-spacing: 4px;
        line-height: 50px;
        margin-top: 0px;
        margin-bottom: 15px; }
      #portada .contenidoPortada h3 {
        padding: 0 20px;
        margin: 0;
        line-height: 20px; }
      #portada .contenidoPortada .botonPortada {
        width: 245px;
        padding: 15px 40px;
        font-size: 1.1rem;
        margin-top: 40px; }
    #portada .imgPortada {
      width: 100%;
      height: 330px;
      margin-top: 20px; }
  /*PASOS MOBILE*/
  #pasos {
    background-image: url(../multimedia/fondoPasosMobile.jpg);
    background-size: contain;
    padding: 20px 10px;
    padding-bottom: 50px;
    margin-bottom: 0; }
    #pasos h2 {
      margin: 0px 0;
      letter-spacing: 4px;
      font-size: 2.5rem; }
    #pasos h4 {
      margin-top: 10px;
      margin-bottom: 20px; }
    #pasos ol {
      flex-direction: column;
      padding-top: 0px; }
      #pasos ol li .center {
        height: 480px;
        width: 100%;
        padding: 0;
        text-align: center; }
        #pasos ol li .center p {
          padding: 0 50px;
          margin: 0;
          line-height: 20px;
          font-size: 1.1rem; }
        #pasos ol li .center .imgPasos {
          width: 75%; }
      #pasos ol li .paso2 {
        margin-top: 90px; }
  /* FOOTER MOBILE*/
  footer {
    background-image: url(../multimedia/fondoFooterMobile.jpg);
    padding: 20px 10px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    height: 450px; }
    footer .descripcion {
      width: 90%;
      margin: 0; }
      footer .descripcion p {
        line-height: 20px;
        font-size: 1.1rem;
        padding-right: 50px; }
      footer .descripcion img {
        width: 70%;
        margin-top: 0px; }
    footer .contactanos {
      width: 90%;
      margin: 0;
      padding-top: 30px; }
      footer .contactanos h4 {
        padding-top: 0px; }
      footer .contactanos ul {
        padding-top: 15px;
        font-size: 1.1rem;
        line-height: 20px; }
    footer .seguinos {
      width: 90%;
      padding-top: 30px; }
      footer .seguinos .iconosRedes {
        justify-content: flex-start;
        padding: 0;
        padding-top: 15px; }
        footer .seguinos .iconosRedes .redes {
          padding-right: 20px;
          width: 40px; }
  /* EQUIPO MOBILE*/
  #equipo {
    background-image: url(../multimedia/fondoEquipoMobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 20px;
    padding-top: 40px;
    height: 1800px;
    margin-bottom: 0;
    margin-top: 70px; }
    #equipo .contenedorEquipo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      #equipo .contenedorEquipo h2 {
        line-height: 45px;
        font-size: 2.5rem;
        padding: 0; }
      #equipo .contenedorEquipo p {
        padding: 0 20px; }
    #equipo .persona {
      width: 100%;
      height: 330px;
      padding: 20px 0; }
      #equipo .persona .contenedorImgEquipo {
        display: inline-block;
        margin: 0;
        width: 200px;
        height: 180px; }
  /* ME SUMO MOBILE */
  #meSumo {
    background-image: url(../multimedia/fondoMeSumoResp.jpg);
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    height: 720px; }
    #meSumo .contenidoMeSumo {
      width: 100%;
      height: 250px;
      margin-right: 0;
      text-align: center; }
      #meSumo .contenidoMeSumo h2 {
        font-size: 2.3rem;
        line-height: 40px; }
      #meSumo .contenidoMeSumo p {
        padding: 0 10px;
        margin-top: 15px;
        font-size: 1rem; }
      #meSumo .contenidoMeSumo .botonMeSumo {
        width: 245px;
        padding: 15px 40px;
        font-size: 1.1rem;
        margin-top: 40px; }
    #meSumo .imgNene {
      width: 100%;
      height: 400px;
      margin-top: 20px; }
  /* FRASE MOBILE */
  #frase {
    background-image: url(../multimedia/fondoFraseMobile.jpg);
    padding: 0 20px;
    height: 350px;
    padding-top: 30px;
    align-items: flex-start; }
    #frase div {
      padding: 0 20px;
      margin-bottom: 0px; }
      #frase div h4 {
        font-size: 1.1rem;
        line-height: 25px; }
      #frase div h6 {
        margin-top: 30px;
        margin-bottom: 0; }
  /* FOOTER DOS MOBILE */
  .footer2 {
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    padding-bottom: 40px; }
    .footer2 .descripcion {
      width: 90%;
      margin: 0; }
      .footer2 .descripcion p {
        line-height: 20px;
        font-size: 1.1rem;
        padding-right: 50px; }
      .footer2 .descripcion img {
        width: 70%;
        margin-top: 0; }
    .footer2 .contactanos {
      width: 90%;
      margin: 0;
      padding-top: 30px; }
      .footer2 .contactanos h4 {
        padding-top: 0; }
      .footer2 .contactanos ul {
        padding-top: 15px;
        font-size: 1.1rem;
        line-height: 20px; }
    .footer2 .seguinos {
      width: 90%;
      padding-top: 30px; }
      .footer2 .seguinos .iconosRedes {
        justify-content: flex-start;
        padding: 0 0px;
        padding-top: 15px; }
        .footer2 .seguinos .iconosRedes .redes {
          padding-right: 20px; }
  /* SERVICIOS MOBILE*/
  #servicios {
    background-image: url(../multimedia/fondoServicioMobile.jpg);
    background-size: contain;
    justify-content: space-around;
    padding: 0px 20px;
    padding-top: 50px;
    margin-top: 70px;
    height: 1630px; }
    #servicios .contenidoServicios {
      padding: 0px 0; }
      #servicios .contenidoServicios p {
        line-height: 20px; }
      #servicios .contenidoServicios h2 {
        font-size: 2.5rem;
        line-height: 45px; }
    #servicios .combos {
      flex-direction: column; }
      #servicios .combos .pack {
        width: 100%;
        height: 400px;
        padding: 0 0px;
        margin-top: 20px; }
        #servicios .combos .pack .contenidoCaja {
          line-height: 20px; }
        #servicios .combos .pack .botonVer {
          width: 245px;
          margin-top: 0px;
          margin-bottom: 0px; }
        #servicios .combos .pack .pack3 {
          margin-top: 20px; }
      #servicios .combos .astronauta {
        margin-top: 50px; }
  /*FAVORITO MOBILE*/
  #favorito {
    background-image: url(../multimedia/fondoFavoritoMobile.jpg);
    background-size: contain;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    margin-top: 30px;
    height: 580px; }
    #favorito .imgFavorito {
      width: 75%;
      height: 340px;
      padding-left: 0px;
      margin-right: 0px; }
    #favorito .contenidoFavorito {
      width: 100%;
      height: 220px;
      padding-right: 0px;
      text-align: center; }
      #favorito .contenidoFavorito h2 {
        margin: 0;
        font-size: 2.5rem;
        line-height: 45px; }
      #favorito .contenidoFavorito p {
        line-height: 20px; }
  /* BENEFICIOS MOBILE*/
  #beneficios {
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 40px;
    margin-top: 70px;
    height: 650px; }
    #beneficios .contenidoBeneficios {
      padding-left: 0;
      width: 100%; }
      #beneficios .contenidoBeneficios h2 {
        font-size: 2.5rem;
        line-height: 45px;
        text-align: center;
        width: 100%; }
    #beneficios .imgCartero {
      width: 100%;
      height: 250px;
      padding-left: 0;
      padding-right: 0; }
    #beneficios .media {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 0;
      padding-right: 10px;
      justify-content: center; }
      #beneficios .media .align-self-start {
        align-self: flex-start;
        padding-right: 15px; }
      #beneficios .media .media-body {
        -ms-flex: 1;
        flex: 1; }
        #beneficios .media .media-body .mt-0 {
          margin: 0;
          line-height: 20px;
          font-size: 1rem; }
  /* APROVECHA MOBILE*/
  #aprovecha {
    padding: 40px 20px; }
    #aprovecha h2 {
      padding-top: 50px; }
    #aprovecha .contenedorDescuento {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    #aprovecha .descuento {
      width: 100%;
      height: 290px;
      padding: 20px 0px; }
      #aprovecha .descuento h4 {
        padding-top: 20px; }
      #aprovecha .descuento p {
        margin: 0;
        padding: 0 40px; }
      #aprovecha .descuento .contenedorImgAprovecha {
        width: 140px;
        height: 130px;
        display: inline-block; }
    #aprovecha .contenidoAprovecha {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      #aprovecha .contenidoAprovecha p {
        width: 100%;
        line-height: 20px;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 20px; }
  /* TESTIMONIOS MOBILE*/
  #testimonios {
    padding: 0 20px;
    margin-top: 70px;
    height: 700px;
    flex-direction: column; }
    #testimonios .imgMadre {
      width: 100%;
      height: 300px; }
    #testimonios .contenidoTestimonios {
      width: 100%; }
      #testimonios .contenidoTestimonios h2 {
        font-size: 2.5rem;
        line-height: 45px;
        margin: 0; }
  .alinear {
    width: 100%;
    height: 250px; }
  .contenedorImgPersona {
    width: 110px;
    height: 110px; }
  /* RANKING MOBILE*/
  #ranking {
    background-image: url(../multimedia/fondoTopMobile.jpg);
    background-size: contain;
    padding: 0 20px;
    padding-top: 40px;
    height: 2140px; }
    #ranking .contenidoTop {
      padding: 0; }
      #ranking .contenidoTop p {
        line-height: 20px; }
    #ranking ol {
      flex-direction: column; }
      #ranking ol li .libros {
        height: 570px;
        width: 100%;
        padding: 0; }
        #ranking ol li .libros .imgLibro {
          width: 70%; }
        #ranking ol li .libros p {
          line-height: 20px; }
      #ranking ol li .contenedor {
        margin-top: 80px; }
  /* CONTACTO MOBILE*/
  #contacto {
    background-image: url(../multimedia/fondoContactoMobile.jpg);
    padding: 50px 20px;
    height: 1000px;
    margin-bottom: 0; }
    #contacto .contenidoContacto h2 {
      font-size: 2.5rem;
      line-height: 45px; }
    #contacto .contenidoContacto p {
      padding: 0; }
    #contacto .contenido .contenedorImgContacto {
      width: 100%; }
    #contacto .contenido form {
      width: 100%; }
      #contacto .contenido form label {
        flex-direction: column; }
      #contacto .contenido form input {
        width: 88%; }
      #contacto .contenido form .botonEnviar {
        width: 100%; } }
