/*VARIABLES*/

/* color */
$rojo-claro: #F63340;
$rojo-oscuro: #E3303C;
$amarillo: #FFCA5F;  
$celeste: #7DDDD5;
$verde-claro: #25C8A7;
$verde-oscuro: #178D7E;
$verde-muyoscuro: #06505A;

/* tamaño titulos */
$titulo-principal: 4rem;
$titulo-secundario: 3rem;

/* interletra titulos */
$interletra-principal: 4px;
$interletra-secundario: 3px;

/* texto base */
$color-texto: #626262;

/* padding lateral de todo el proy */
$padding-general: 80px;

/* tipografias */
$tipo-titulo: 'Fredoka One', cursive;
$tipo-base: 'Rubik', sans-serif;



body {
    font-family: $tipo-base;
    margin: 0;
    padding: 0;
    color: $color-texto;
}

h2 {
    font-family: $tipo-titulo;
    color: $rojo-claro;
    font-size: $titulo-secundario;
    letter-spacing: $interletra-secundario;
}

/* header */

header {
    position:fixed;
    z-index: 1;
    top: 0;
    padding: 15px 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    
    .menu {
        display: grid;
        grid-template-columns: 400px 0px 0px 40px 50px 70px 80px 90px 75px;
        grid-template-areas: "logo logo logo s1 s2 s3 s4 s5 s6";
        grid-template-rows: auto;
        justify-content: space-between;
        justify-items:left;
        align-items: center;
        padding: 0 $padding-general;
        font-weight: 500;
        
        .logo {
            grid-column: 1/3;
        }

        .s1 {
            grid-column: 4;
        }

        .s2 {
            grid-column: 5;
        }

        .s3 {
            grid-column: 6;
        }

        .s4 {
            grid-column: 7;
        }

        .s5 {
            grid-column: 8;
        }

        .s6 {
            grid-column: 9; 
        }
        
        div {
            display: inline;
        }
        
        a {
            text-decoration: none;
            color: #626262;
        }
        
        a:hover{
            color: $rojo-claro;      
        }
        
        .seccion {
            color: $rojo-claro;      
        }
    }
}



/* index */

#portada {
    background-image: url(../multimedia/fondoPortada.png);
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: $padding-general;
    padding-right: $padding-general;
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 650px;
    
    .contenidoPortada {
        display: inline-block;
        width: 410px;
        height: 330px;
        color: #ffffff;
        margin-right: 40px;
        padding: 20px 20px;
        transition-property: all;
        animation: fadeInLeftBig;
        animation-duration: 0.7s;
        animation-delay: 0.1s;
        transition-timing-function:cubic-bezier(0,0,.27,.99);
        
        h1 {
            font-family: $tipo-titulo;
            font-size: $titulo-principal;
            letter-spacing: $interletra-principal;
            margin: 0;
        }
        
        h3 {
            font-size: 1,7rem;
            font-weight:400;
        }
        
        .botonPortada {
            display: inline-block;
            background-color: $rojo-claro;
            color: #ffffff;
            padding: 15px 40px;
            border-radius: 50px;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .botonPortada:hover {
            background-color: $rojo-oscuro;
            box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
            transform: scale(1.10);
        }
        
        a {
            text-decoration: none;
            transition: all 0.2s;
        }
    } 
    
    .imgPortada {
        width: 650px;
        height: 550px;
        text-align: right;
        transition-property: all;
        animation: fadeInRightBig;
        animation-duration: 0.7s;
        animation-delay: 0.1s;
        transition-timing-function: cubic-bezier(0,0,.27,.99);
        
        .imagen {
            width: 100%;
        }
    }
}


/*PASOS*/

#pasos {
    background-image:url(../multimedia/fondPasos.jpg);
    background-size: contain;
    padding: 50px $padding-general;
    
    h2 {
        text-align: center;
    }
    
    h4 {
        color: $rojo-claro;
        font-weight:800;
    }
    
    ol {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        
        li {
            display: inline;
            
            .center {
                height: 500px;
                width: 300px;
                padding: 20px 20px;
                text-align: center; 
                
                .imgPasos {
                    width: 100%;  
                }
            }
        }
    }
}






/* equipo */

#equipo {
    background-image: url(../multimedia/fondoEquipo.jpg);
    background-size:cover;
    padding-left: $padding-general;
    padding-right: $padding-general;
    padding-top: 90px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    h2 {
        text-align: center;
        font-size: 3rem;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    
    h3 {
        margin: 3px;
        text-transform: uppercase;
        padding-top: 10px;
    }
    
    h4 {
        margin: 0;
        text-transform: uppercase;
    }
    
    p {
        line-height: 25px;
    }
    
    .persona {
        display: inline-block;
        width: 200px;
        height: 400px;
        text-align: center;
        padding: 20px 40px;
        
        .contenedorImgEquipo {
            width: 200px;
            height: 200px;
            transition: all 0.5s;
            
            .equipo {
                width: 100%;
            }
        }
        
        .contenedorImgEquipo:hover {
            transform: scale(1.20);
        }
    }
}





/* SERVICIOS */

#servicios {
    background-image: url(../multimedia/serv.png);
    background-size: cover;
    padding: 100px $padding-general;
    
    
    .contenidoServicios {
        text-align: center;
        padding-bottom: 2rem;
        color: #ffffff;
        
        h2 {
            margin: 0;
            color: #ffffff;
        }
    }
    
    .combos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        color: #ffffff;
        
        h4 {
            font-size: 1.5rem;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0;
        }
        
        .pack {
            display: inline-block;
            text-align: center;
            width: 200px;
            height: 430px;
            padding: 10px 50px;
            
            .contenedorImgPack {
                display: inline-block;
                width: 200px;
                height: 200px;
                
                .imgPacks {
                    width: 100%;
                }
            }
            
            .contenidoCaja {
                margin: 0;
                padding-top: 1rem;
            }
            
            .sorpresa {
                font-family: $tipo-titulo;
                color:  $amarillo;
                font-size: 1.2rem;
                letter-spacing: 0.2rem;
                margin: 0;
            }
            
            .botonVer {
                text-decoration: none;
                display: inline-block;
                background-color: $rojo-claro;
                color: #ffffff;
                padding: 15px 40px;
                border-radius: 50px;
                font-weight: 700;
                margin-top: 30px;
                margin-bottom: 10px;
                transition: all 0.2s;
            }
            
            .botonVer:hover {
                background-color: $rojo-oscuro;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
                transform: scale(1.10);
            }
        }
    }
}


/*FAVORITO*/

#favorito {
    background-image: url(../multimedia/fondoFavorito.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: 0;
    padding: 80px $padding-general;
    height: 500px;
    
    .imgFavorito {
        width: 400px;
        height: 400px;
        padding-left: 40px;
        
        .elFavorito {
            width: 100%;
        }
    }
    
    .contenidoFavorito {
        display: inline-block;
        width: 400px;
        height: 300px;
        padding-right: 80px; 
        align-self: center;
        
        p {
            line-height: 25px;
        }
    }
}





/* BENEFICIOS */

#beneficios {
    background-image: url(../multimedia/fondoBeneficios.png);
    background-size:cover;
    padding-left: $padding-general;
    padding-right: $padding-general;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    .contenidoBeneficios {
        padding-left: 60px;
        width: 510px;
        height: 350px;
        
        ul {
            width: 450px;
            height: 250px;
            padding-left: 60px;
        }
        
        h2 {
            color: #ffffff;
            margin-bottom: 20px;
            width: 400px;
        }      
    }
    
    .media {
        display: -ms-flexbox;
        display: flex;
        align-items: flex-start;
        padding: 10px 0;
        
        .align-self-start {
            align-self: flex-start;
            padding-right: 15px;
        }
        
        .media-body {
            -ms-flex: 1;
            flex: 1;
            
            .mt-0 {
                margin:0;
            }
        }
    }
    
    .imgCartero {
        width: 700px;
        height: 500px;
        margin: 0;
        padding-left: 10px;
        padding-right: 60px;
        
        .cartero {
            width: 100%;   
        }
    }
}




/* APROVECHA */

#aprovecha {
    background-image: linear-gradient(#7DDDD5, #ffffff);
    background-size: cover;
    padding: 80px $padding-general;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    h2 {
        text-align: center;
        color: #ffffff;
        font-size: 3rem;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    h4 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.20rem;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .contenidoAprovecha {
        text-align: center;
        
        p {
            width: 600px;
            display: inline-block;  
            line-height: 25px;
        }
    }
    
    .descuento {
        display: inline-block;
        width: 350px;
        height: 350px;
        text-align: center;
        padding: 20px 40px;
        
        .contenedorImgAprovecha {
            width: 170px;
            height: 170px;
            display: inline-block;
            transition: all 0.5s;
            
            .promo {
                width: 100%;
            }
        }
        
        .contenedorImgAprovecha:hover {
            transform: scale(1.20);
        }
    }  
}




/* TESTIMONIOS */

#testimonios {
    padding-left: $padding-general;
    padding-right: $padding-general;
    padding-bottom: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .imgMadre {
        width: 500px;
        height: 500px;
        
        .madreEhija {
            width: 100%;    
        }
    }
    
    .contenidoTestimonios {
        width: 600px;
        text-align: center;
        
        h2 {
            padding-bottom: 30px;
        }
        
        h4 {
            margin: 0;
            padding-bottom: 3rem;
        }
    }    
}

.carousel-item {
        position: relative;
        display: none;
        float: left;
        margin: 0;
        width: 100%;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        z-index: -1;
}    


.imgTestimonio {
    width: 100%; 
   
}

.alinear {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 600px;
    height: 300px;
    margin: 0;
}

.contenedorImgPersona {
    width: 150px;
    height: 150px;
}

.carousel-caption {
  text-align: center;
  color: $color-texto;
  padding: 0;
}

.carousel-caption p {
    margin: 0;
}


.carousel-control-prev-icon {
  background-image: url("https://systemuicons.com/images/icons/chevron_left.svg");
}

.carousel-control-next-icon {
  background-image: url("https://systemuicons.com/images/icons/chevron_right.svg");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.4;
  transition: opacity 0.15s ease;
  z-index: -1;
}




/* RANKING */

#ranking {
    background-image:url(../multimedia/fondoEstrella.png);
    background-size: cover;
    padding: 60px $padding-general;
    
    h2 {
        text-align: center;
    }
    
    h4 {
        color: $color_texto;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 5px;
        margin: 0;
        font-weight: 600;
        font-size: 1.20rem;
    }
    
    .contenidoTop {
        text-align: center;
        margin: 0;
        
        p {
            padding: 0 180px;
        }
    }
    
    ol {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        
        li {
            display: inline;
            
            .libros {
                height: 700px;
                width: 400px;
                padding: 20px 20px;
                text-align: center; 
                
                .imgPasos {
                    width: 75%; 
                }
                
                p {
                    margin: 0;
                }
            }
        }
    }
}





/* contacto */

#contacto {
    padding: 0 $padding-general;
    padding-top: 60px;
    
    .contenidoContacto {
        text-align: center;
    }
    
    .contenido {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
        .contenedorImgContacto {
            display: inline-block;
            width: 500px;
            height: 500px;
            padding-right: 10px;
            padding-left: 100px;
            
            .imgContacto {
                width: 100%;
            }
        }
        
        form {
            width: 450px;
            height: 400px;
            line-height: 50px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding-right: 100px;
            padding-left: 10px; 
            
            input {
                border-radius: 2rem;
                border: 1px solid #c4d8dc;    
            }
            
            textarea {
                border-radius: 2rem;
                border: 1px solid #c4d8dc;
                font-family: 'Rubik', sans-serif;
            }
            
            .contenedorLlenar {
                padding: 20px 20px;
                margin: 10px 0px;
            }
            
            .botonEnviar {
                display: inline-block;
                background-color: $rojo-claro;
                color: #ffffff;
                text-transform: uppercase;
                padding: 15px 40px;
                border-radius: 50px;
                font-weight: 700;
                margin-top: 30px;
                width: 100%;
                transition: all 0.2s;
            }  

            .botonEnviar:hover {
                background-color: $rojo-oscuro;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
                transform: scale(1.10);
            }
        }
    }   
}





/* FOOTER */

footer {
    background-image: url(../multimedia/fondoFooter.png);
    background-size: cover;
    color: #ffffff;
    padding: 40px $padding-general;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
    h4 {
        font-size: 1.5rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .descripcion {
        width: 300px;
        padding-top: 40px;
        padding-bottom: 0px;
        text-align: left;
    }
    
    .contactanos {
        width: 400px;
        text-align: left;
        padding-top: 40px;
    }
    
    .seguinos {
        width: 200px;
        padding-top: 40px;
        padding-bottom: 0px;
        text-align: left;
        
        h4 {
            padding-bottom: 10px;
        }
        
        .iconosRedes {
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            a {
                display: flex; 
                justify-content: center;
            }
            
            .redes {
                transition: all 0.1s;
            }
            
            .redes:hover {
                transform: scale(1.1);
                border-radius: 25px;
                background-color: $rojo-claro;
                box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);   
            }
        }
    }
}


